body {
    background-color: rgb(173, 216, 230);
}

.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav p {
    padding: 6px 6px 6px 32px;
    text-decoration: none;
    font-size: 16px;
    color: #818181;
    display: block;
}

.sidenav a {
    padding: 6px 6px 6px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.main {
    margin-left: 200px; /* Same as the width of the sidenav */
}

#wrapper {
    width: 600px;
    margin: auto;
    border: solid thin black;
}

#textarea {
    color: black;
    text-align: center;
    font-family: verdana;
    font-size: 20px;
}

#input, #inputequation {
    margin: auto;
    width: 600px;
    border: solid thin black;
    color: black;
    font-family: verdana;
    font-size: 14px;
    text-align: center;
}

#input input{
    width: 90px;
}

#inputequation input{
    width: 200px;
}